.hero {
    background-color: #232946;
    color: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .h1 {
    font-size: 64px;
  }